body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

.container {
display: flex;
}

.left-column {
flex: 1;
background-color: darkolivegreen;
padding: 20px;
}

.right-column {
flex: 2;
background-color: #a0a0a0;
padding: 20px;
}

.profile-picture {
max-width: 100%;
border-radius: 50%;
float: right;
margin-left: 10px
}

.contact-list {
list-style-type: none;
padding: 0;
}

.contact-list li {
margin-bottom: 10px;
}

.contact-list li a img {
vertical-align: middle;
margin-right: 5px;
}

.project-image {
max-width: 100%;
margin-bottom: 10px;
}