@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap');

body {
font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;
}

h1, h3, h2 {
    font-family: 'Kanit', sans-serif;
    color: #c4501b;
}
h1{
    font-size: 3.5rem;
    margin: 0px;
}

h2{
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    color: #c4501b;
}
a:hover {
    font-weight: 600;
    color: #fb6a27;
}

.btn{
    background-color: #c4501b;
    border: 1px solid #c4501b;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}

.btn:hover{
    background-color: #fff;
    color: #c4501b;
}
.container {
display: flex;
}

.left-column {
flex: 1;
background-color: #9caf88;
padding: 20px;

display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
}

.right-column {
flex: 2;
background-color: #cbd5c0;
padding: 20px;
}

.right-column .project-container{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
 align-items: center;
}
.right-column .project-container .project-item{
    width:350px;
}

.project-container .project-item img{
    width: 100%;
    padding: 10px;
}

.project-container .project-item h3{
    padding-left: 10px;
    padding-top: 0px;
    margin-top: 0px;
}

.profile-picture {
max-width: 100%;
width: 200px;
border-radius: 50%;
float: right;
margin-left: 10px;
}

.contact-list {
list-style-type: none;
padding: 0;
}

.contact-list li {
margin-bottom: 10px;
}

.contact-list li a img {
vertical-align: middle;
margin-right: 5px;
}

/*
.project-image {
max-width: 100%;
margin-bottom: 10px;
}
*/


.project-item-hero {
    position: relative;
   
  }
 .project-item-hero img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .7s ease;
    backface-visibility: hidden;
  }
 .project-item-hero .middle {
    /*transition: .7s ease;*/
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .project-item-hero:hover img {
    opacity: 0.4;
  }
  .project-item-hero:hover .middle {
    opacity: 1;
  }
  .project-item-hero .text {
    background-color: #c4501b;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    padding: 14px 28px;
  }